/* Recipe.css */

.recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .recipe-title {
    font-size: 18px;
  }
  
  .calories {
    font-size: 14px;
  }
  
  .more-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .expanded .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .ingredient-list {
    list-style: none;
    padding: 0;
  }
  
  .ingredient-item {
    font-size: 18px;
    margin: 5px 0;
    color: white;
  }
  
  .close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
